*.suo
*.user
*.DotSettings
bin/
debug/
release/
Logs/
App_Data/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
ElectronicDiaryDB/ElectronicDiaryDB/ElectronicDiaryDB.dbmdl
